[Unit]
Description=BRACHAT Dashboard Web
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/brachat/dashboard.py
WorkingDirectory=/opt/brachat
Restart=always
RestartSec=5
User=opc
Group=opc
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
